*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    justify-content: center; 
    align-items: center;     
    background: rgb(88,83,66);
    background: linear-gradient(90deg, rgba(66,75,84,1) 36%, rgba(15,18,21,1) 98%);
    font-family: Arial, sans-serif;
    width: auto;
    height: 100vh;
}

h1{
    text-align: center;
    color: antiquewhite;
    font-size: 36px;
    margin: 20px 0;
    top: 20%;
    position: fixed; 
}

.container{
    display: flex;
    flex-direction: column;  /* Stack buttons vertically */
    justify-content: flex-start;
    align-items: center;
    background-color: #c7cedb56;
    padding: 20px;
    border-radius: 10px;
    min-width: 200px;  /* Minimum width */
    width: auto;       /* Width will adjust automatically */
    max-width: 90%;  
}

button {
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;   /* Add margin between buttons */
}

button:hover {
    background-color: #c7cedb;
    color: #2c2d30;
}